display: inline-block;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: none;
z-index: auto;
width: auto;
height: 64px;
position: relative;
cursor: pointer;
opacity: 1;
top: 0;
left: 0;
margin: 0;
padding: 10px 20px;
overflow: visible;
border: 0 none rgb(177,106,2);
border-bottom: 4px solid rgb(177,106,2);
-webkit-border-radius: 7px 7px 9px 9px;
border-radius: 7px 7px 9px 9px;
font: normal normal bold 24px/40px "Averia Sans Libre", Helvetica, sans-serif;
color: rgb(255, 255, 255);
text-align: center;
text-transform: uppercase;
-o-text-overflow: clip;
text-overflow: clip;
white-space: nowrap;
background: -webkit-linear-gradient(-90deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
background: -moz-linear-gradient(180deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
background: linear-gradient(180deg, rgb(253,218,134) 0, rgb(225,157,60) 100%), rgb(253, 218, 134);
-webkit-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
background-clip: border-box;
-webkit-background-size: auto auto;
background-size: auto auto;
-webkit-box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgb(177,106,2) ;
box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgb(177,106,2) ;
text-shadow: 0 1px 1px rgba(0,0,0,0.498039) ;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
